.column {
    width: 300px;
    float: right;
    padding: 5px;
  }
  .sidebar{
    width: 200px;

    background-color: blueviolet;
    color: white;
    float: left;
  }
  body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .banner{
    text-align: center;
    height: 100px;
  }
  img {
    width: 300px;
    height: auto;  
  }
